{% extends "base.html" %}
{% block header %}{% endblock %}

{% block content %}
<h1>Регистрация</h1>

<p>Уже зарегистрированы? <a href="{{ login_url }}">Войдите</a></p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  <p>{{form.username.label_tag}}{{form.username}}</p>
  <p>{{form.password1.label_tag}}{{form.password1}}</p>
  <p>{{form.password2.label_tag}}{{form.password2}}</p>
  <button type="submit">Зарегистрироваться</button>
</form>

{% endblock %}
