{% extends 'base.html' %}
{% load static %}
{% block content %}
<a href="{% url 'message_list' %}">Назад</a>
<h2>
    <img src="/{{user_to.userprofile.avatar}}" width="100" height="100" style="object-fit:cover; border-radius:50%;"> 
    {{user_to}}
</h2>
  <div id="chat">
    {% for message in message_list %}
      <p>{{message}}</p>
    {% endfor %}
  </div>

    <input type="hidden" id="csrf_token" value="{{csrf_token}}">
    <input type="hidden" id="user_to" value="{{user_to.pk}}" name="user_to"> 
    <input type="hidden" id="user_from" value="{{user_from.pk}}" name="user_from">
    <p>Сообщение:<br><textarea id="message" value="" name="message"></textarea></p>
    <button id="btn" type="submit">Отправить</button> 
  
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static 'scripts/chat.js' %}"></script>
{% endblock %}