{% extends 'base.html' %}
{% load static %}

{% block content %}
<a href="{% url 'message_list' %}">Назад</a>
<input type="hidden" id="csrf_token" value="{{csrf_token}}">
<input type="text" id="group-admin" value="" name="group-admin">
<input type="text" id="group-name" value="" name="group-name">

<button id="group-create" type="button">Создать</button>
{% endblock %}
{% block scripts %}
{% comment %} <script type="text/javascript" src="{% static 'scripts/group-create.js' %}"></script> {% endcomment %}
{% endblock %}