{% extends 'base.html' %}
{% load static %}
{% block header %}
<h2>Сообщения</h2>
<a href="{% url 'group_create' %}">Создать группу</a>
{% endblock %}
{% block content %}

    {% for user in user_list %}
        <h3>
            <img src="/{{user.userprofile.avatar}}" width="100" height="100" style="object-fit:cover; border-radius:50%;">
            <a href="{% url "chat" user.pk %}">{{user}}</a>
        </h3>
    {% endfor %}

    {% for group in group_list %}
       <h3>
           <a href="{% url "group" group.pk %}">{{group}}</a>
        </h3>
    {% endfor %}

{% endblock %}