{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2>Изменить профиль</h2>
<div class="user-edit">
    <input type="hidden" id="csrf_token" value="{{csrf_token}}">
    <input type="hidden" id="user" value="{{user.pk}}" name="user">
    <label for="user">Имя пользователя<input type="text" id="user-name" value="{{user.username}}" name="user-name"></label>
    <button id="user_update" type="button">Изменить</button>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static 'scripts/user-update.js' %}"></script>
{% endblock %}