{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Messenger" />
    <meta name="author" content="" />
    <title>Messenger</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>
    {% block header %}
    <header>
        <h1>Messenger</h1>
        {% block nav %}
        <nav>
            <a href="{% url 'message_list' %}">Сообщения</a>
            <a href="{% url 'user_list' %}">Пользователи</a>
            <a href="{% url 'group_create' %}">Создать группу</a>
        </nav>
        {% endblock %}
        <div class="user-profile">
        {% if user.is_authenticated %}
            {% if user.userprofile.avatar %}
                <img src="/{{user.userprofile.avatar}}" width="70" height="70" style="object-fit:cover; border-radius:50%;">
            {% else %}
                <img src="/static/images/default/user.jpg" width="70" height="70" style="object-fit:cover; border-radius:50%;">
            {% endif %}
            <h2 id="user-now">{{user.username}}</h2>
            <a href="{% url 'account_edit' request.user.pk %}">Изменить</a>
            <a href="{% url 'account_logout' %}">Выйти</a>
        {% else %}
            <a href="{% url 'account_login' %}">Войти</a>
        {% endif %}
        </div>
    </header>
    {% endblock %}
    <section class="content">
    {% block content %}
    {% endblock %}
    </section>
    {% block footer %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}
</body>
</html>